# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

# Django
media/
staticfiles/
db.sqlite3

# Environments
.env
env/
venv/
.unitrade_env/
unitrade_env/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
*.bak
*.swp
*.sock
.dockerignore
