{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1 class="text-2xl"><b>About</b></h1>

    <hr>

    <p class="mt-4">
        UniTrade is the go-to e-commerce platform designed specifically for TIP students to buy, sell, and rent academic materials such as textbooks, electronics, and uniforms. Whether you're looking for the latest edition of your textbooks or need to rent equipment for the semester, UniTrade makes it easy and affordable. With a user-friendly interface and student-centered approach, it’s the perfect place to find, share, and trade essential academic items. Join UniTrade today and make your student life a little easier!
    </p>
{% endblock %}